form(action="" method="post")
    label(for="username") Username:
    input(id="username", name="username")
    br
    label(for="password") Username:
    input(id="password", name="password", type="password")
    br
    input(type="submit", value="login")
    br
    p #{message}